KERNEL=="sd*", SUBSYSTEMS=="block", RUN+="/usr/local/bin/udevlogger"
KERNEL=="sd*", SUBSYSTEMS=="block", ACTION=="add", RUN+="/usr/local/bin/readvolume"
KERNEL=="sd*", SUBSYSTEMS=="block", ACTION=="remove", RUN+="/usr/local/bin/abort"
